<footer class="footer">
  <div>
    <div class="footer__logo">
      Edufair
    </div>
    <p class="footer__about">
      Edufair is online education platform that delivers video courses programs
      and resources
    </p>
    <div class="footer__logos">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-dribbble"></i>
    </div>
  </div>
  <div class="footer__quick">
    <h3>Quicklinks</h3>
    <ul>
      <li class="footer__quickLink"><a routerLink="/home">Home</a></li>
      <li class="footer__quickLink"><a routerLink="/courses">Courses</a></li>
      <li class="footer__quickLink"><a href="#">About Us</a></li>
      <li class="footer__quickLink"><a href="#">Contact Us</a></li>
      <li class="footer__quickLink"><a href="#">Become A Contributor</a></li>
    </ul>
  </div>
  <div class="footer__quick">
    <h3>Contact Us</h3>
    <ul>
      <li class="footer__quickLink"><a href="#">(+91)254. 254. 254.</a></li>
      <li class="footer__quickLink"><a href="#">info@edufair.com</a></li>
      <li class="footer__quickLink"><a href="#">Helios Tower 75 Tam Trinh Hoang</a></li>
      <li class="footer__quickLink"><a href="#">Mai-Ha Noi-Viet Nam</a></li>
    </ul>
  </div>
  
</footer>
<div class="footer__mini">
    <h4>All Right Reserved | EDUFAIR 2021 </h4>
    <ul>
        <li>Privacy Policy</li>
        <li>Site <span>Credit</span> </li>
    </ul>
</div>
