<nav class="nav">
    <a href="#" class="nav__logo" >
       Edufair
    </a>
    <ul class="nav__list">
        <li class="nav__listItem">
            <a routerLink="/home">Home </a>
        </li>
        <li class="nav__listItem">
            <a routerLink="/courses">Courses </a>
        </li>
        <li class="nav__listItem">
            <a href="#">Blog </a>
        </li>
        <li class="nav__listItem">
            <a href="#">About Us</a>
        </li>
        <li class="nav__listItem">
            <a href="#">Contact Us</a>
        </li>
    </ul>
    <div class="nav__login">
        <a href="#" class="nav__cart" ><i class="fas fa-shopping-cart"> <span>2</span> </i></a>
        <button class="nav__button" >
            Be A Contributer
        </button>
        <button class="nav__button">
           Log in
        </button>
    </div>
    
</nav>