<section class="hero">
<div class="hero__container">
<h1 class="hero__heading">
    Get Access to Unlimited 
</h1>
<h1 class="hero__heading" >Educational Resources </h1>
<h1 class="hero__heading" >Everywhere, Everytime </h1>
<p class="hero__subHead">Premium access to more than 10,000 resources ranging from courses,events etc</p>
<button class="hero__cta">
    Get Access
</button>
</div>
<div class="hero__girl"></div>
</section>


<section class="details" >
   

    <div class="details__features">
        <div class="details__icons">
            <i class="fas fa-hand-pointer"></i>
            <h3>Unlimited Access</h3>
            <p>One subscription unlimited access</p>
        </div>
        <div class="details__icons">
            <i class="fas fa-chalkboard-teacher"></i>
            <h3>Expert Teachers</h3>
            <p>Learn from industry Experts who are passionate about teaching</p>
        </div>
        <div class="details__icons">
            <i class="fas fa-laptop-house"></i>
            <h3>Learn Anywhere</h3>
            <p>Switch between your computer tablet or mobile device</p>
        </div>
    </div>

    <div class="details__port">
        
        <div class="details__portImage"></div>
        <div class="details__portDetails">
            <h2>Learn A Skill.</h2>
            <h2>Build Your Portfolio.</h2>
            <h3>Get Hired!</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, numquam doloribus. Eius excepturi ducimus ratione cupiditate architecto pariatur maxime numquam non exercitationem consequatur eaque, quos adipisci! Aperiam praesentium sapiente sed eos quaerat, consequatur molestiae similique excepturi veniam repellendus ratione eaque laboriosam. Id amet minima omnis velit porro libero nesciunt. Incidunt.</p>
            <button class="details__cta">Discover</button>
        </div>
    </div>


</section>
<section class="testimonial">
<div class="testimonial__text">
<h2>Success Stories</h2>
<h2>From Our Students</h2>
<h2>WorldWide!</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio odio, repellat voluptatem ut incidunt maiores officiis magnam tenetur error? Voluptatum dolorem rerum ducimus dolores enim sequi officia distinctio fuga voluptate labore obcaecati blanditiis natus, culpa aspernatur animi itaque alias saepe.
</p>
<button class="testimonial__btn" >
    Discover
</button>

</div>

<div class="testimonial__photos">
    <div class="testimonial__photo1 testimonial__photo"></div>
    <div class="testimonial__photo2 testimonial__photo"></div>
    <div class="testimonial__photo3 testimonial__photo"></div>
    <div class="testimonial__photo4 testimonial__photo"></div>
    <div class="testimonial__photo5 testimonial__photo"></div>
    <div class="testimonial__photo6 testimonial__photo"></div>
    <div class="testimonial__photo7 testimonial__photo"></div>
</div>

</section>
