<section class="hero">
  <div class="hero__boy"></div>

  <h1>
    Browse Thousands of Our
  </h1>
  <h1>
    Video Tutorials Curated
  </h1>
  <h1>
    Only for you.
  </h1>
  <p>
    Access all tutorials and resources when you become a premium member of
    <span>Edufair</span>
  </p>
</section>
<main class="course">
  <div class="course__searchContainer">
    <i class="fas fa-search"></i>
    <input
      type="text"
      class="course__search"
      placeholder="Search for Courses i.e web-development"
    />
  </div>
  <section class="course___coursesContainer">
    <div class="grid">
      <div class="grid__nav">
        <div class="grid__result">
          Showing 1-8 of 10 results
        </div>
        <div class="grid__buttons">
          <button class="grid__filter">Filter</button>
          <button class="grid__Sort">Sort by</button>
        </div>
      </div>
      <div class="grid__main">
        <div class="grid__card grid__card1">
          <p>Free</p>
          <div class="grid__cardHeading">
            <h3>Become A Social</h3>
            <h3>Media Expert</h3>
          </div>
        </div>
        <div class="grid__card grid__card2">
          <p>Premium</p>
          <div class="grid__cardHeading">
            <h3>4 Weeks Photography</h3>
            <h3>Bootcamp</h3>
          </div>
        </div>
        <div class="grid__card grid__card3">
          <p>Premium</p>
          <div class="grid__cardHeading">
            <h3>Learn Logo Design</h3>
          </div>
        </div>
        <div class="grid__card grid__card4">
          <p>free</p>
          <div class="grid__cardHeading">
            <h3>Learn organization</h3>
            <h3>Management</h3>
          </div>
        </div>

        <div class="grid__card grid__card5">
          <p>free</p>
          <div class="grid__cardHeading">
            <h3>Become a Web Developer</h3>
          </div>
        </div>
        <div class="grid__card grid__card6">
          <p>Premium</p>
          <div class="grid__cardHeading">
            <h3>Skills Needed in</h3>
            <h3>Becoming A Designer</h3>
          </div>
        </div>
        <div class="grid__card grid__card7">
          <p>Premium</p>
          <div class="grid__cardHeading">
            <h3>Advance Your</h3>
            <h3>3d Modelling Skill</h3>
          </div>
        </div>
        <div class="grid__card grid__card8">
          <p>Free</p>
          <div class="grid__cardHeading">
            <h3>Become An Artist</h3>
          </div>
        </div>
        <div class="grid__card grid__card9">
          <p>Free</p>
          <div class="grid__cardHeading">
            <h3>Art Of Growing</h3>
            <h3>Relationship</h3>
          </div>
        </div>
       
      </div>
      <div class="grid__page">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>next</p>
      </div>
    </div>
    <div class="course__courses">
      <h4>All Courses</h4>
      <ul class="course__list">
        <li class="course__listItem">
          <a href="#">Web Development(2908)</a>
        </li>
        <li class="course__listItem">
          <a href="#">Designs(22321)</a>
        </li>
        <li class="course__listItem">
          <a href="#">Photography(2321)</a>
        </li>
        <li class="course__listItem">
          <a href="#">3d Artist(9828)</a>
        </li>
        <li class="course__listItem">
          <a href="#">Motion Graphics(2351)</a>
        </li>
        <li class="course__listItem">
          <a href="#">Software Engineer</a>
        </li>
        <li class="course__listItem">
          <a href="#">UI/UX RoadMap</a>
        </li>
      </ul>
      <h4>Course Type</h4>
      <div class="course__type">
        <div class="course__paid">
          <a href="#">Paid</a>
        </div>
        <div class="course__free">
          <a href="#">Free</a>
        </div>
      </div>
      <button class="course__filter">Filter</button>
    </div>
  </section>
</main>
