.testimonial {
  background: var(--gradient);
  height: 100vh;
  color: white;
  padding: 8rem 15rem;
  display: flex;

  &__text {
    flex-basis: 30%;
    & h2 {
      font-size: 3rem;
      font-weight: 900;
      line-height: 50px;
    }
    & p {
      margin-top: 2.5rem;
      font-size: 1.4rem;
      line-height: 30px;
      font-weight: 100;
      width: 85%;
    }
  }
  &__btn {
    margin-top: 2.5rem;
    background-color: white;
    color: var(--color-primary);
    font-weight: 500;
    border: none;
    padding: 12px 30px;
    border-radius: 20px;
    box-shadow: var(--shadow);
    font-weight: 700;
    transition: all 0.1s ease-in-out;
    outline: none;
    &:hover {
      color: white;
      transform: translateY(-2px);
      background-color: var(--color-tertiary);
    }
  }
  &__photos {
    flex-basis: 70%;
    position: relative;
  }
  &__photo {
    position: absolute;
    border-radius: 20px;
    background-size: cover;
  }
  &__photo1 {
    background-image: url("https://images.unsplash.com/photo-1544717305-2782549b5136?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80");
    width: 200px;
    height: 300px;
    bottom: 50px;
    right: 10px;
  }
  &__photo2 {
    background-image: url("https://images.unsplash.com/photo-1590756252677-8b92843273bf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80");
    width: 180px;
    height: 200px;
    background-position: center;
    top: 180px;
  }
  &__photo3 {
    background-image: url("https://images.unsplash.com/photo-1461039088886-b5c863279a0e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
    width: 300px;
    height: 200px;
    right: 0;
  }
  &__photo4 {
    background-image: url("https://images.unsplash.com/photo-1515073838964-4d4d56a58b21?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
    width: 280px;
    height: 238px;
    bottom: 0;
    right: 240px;
    background-position: center;
  }
  &__photo5 {
    background-image: url("https://images.unsplash.com/photo-1519070994522-88c6b756330e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=901&q=80");
    width: 297px;
    height: 246px;
    top: 73px;
    left: 218px;
    background-position: center;
  }
  &__photo6 {
    background-image: url("https://images.unsplash.com/photo-1604891692156-3f1db6499c72?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
    width: 101px;
    height: 135px;
    top: 213px;
    right: 224px;
    background-position: center;
    background-size: 210%;
  }
  &__photo7 {
    background-image: url("https://images.unsplash.com/photo-1526781480235-d79b4866aa9c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80");
    width: 114px;
    height: 160px;
    bottom: 109px;
    left: 198px;
    background-position: center;
  }
}
